<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.activity">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.main.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.main.activity.MainActivity"></activity>

        <activity android:name="com.main.activity.CitysName">

        </activity>

        <activity android:name="com.main.activity.SearchCars"></activity>

        <activity android:name="com.main.activity.MyInfo"></activity>
        <activity android:name="com.main.activity.CarHistory"></activity>
        <activity android:name="com.main.activity.UserFeedback"></activity>
        <activity android:name="com.main.activity.JoinUs"></activity>
        <activity android:name="com.main.activity.AboutUs"></activity>
        <activity android:name="com.main.webview.AutoWebView"></activity>

    </application>

</manifest>